@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-padding: 20px;
  --box-width: 450px;
  --margin-auto: 0 auto;
  --gradient: linear-gradient(135deg, #72edf252 10%, #5151e585 100%);
  --main-text-color: #4c4b4b;
  --background-color: #0c405e5c;
  --text-color: #fff;
  --text-shadow-color:rgba(0, 0, 0, 0.25);
  --box-radius: 10px;
  --box-shadow-1: 0px 0px 8px rgba(0, 0, 0, 0.25);
  --box-shadow-2: 0px 0px 16px rgba(0, 0, 0, 0.25);
  --transition-duration: 0.4s;
  --uppercase-text: uppercase;
  --temp-font-size: 80px;
  --temp-desc-font-size: 20px;
  --temp-info-padding: 0.3em 1em;
  --temp-info-border: 1px solid rgba(255, 255, 255, 0.25);
  --temp-info-text-weight: 600;
}

html,
body {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  background: var(--gradient);
}
body {
  overflow-y: scroll;
}